<!DOCTYPE html>
<html>
<head>
	<title>CCS MEET UP</title>
	<link rel="stylesheet" type="text/css" href="../style/login_style.css">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body >

 <div class="container-fluid text-center back">

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnav">
        <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         <span class="icon-bar"></span>
    </button>
    </div>

   <div class="collapse navbar-collapse" id="topnav">
      <ul class="nav navbar-nav">
        <li> <a href="#about">ABOUT</a></li>
        <li><a href="#event">EVENT</a></li>
        <li><a href="#gallary">GALLARY</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>

       <ul class="nav navbar-nav navbar-right">
         <li> <a href="https://www.facebook.com/CCSTU/photos/a.152256191580111.32675.148760485263015/953924484746607/?type=3&theater"><i class="fa fa-facebook " style="font-size: 36px; color:

   #ffffff; "></i></a></li>

   <li><a href="mailto://ccs@gmail.com"><i class=" fa fa-envelope" style="font-size: 36px; color:#ffffff; "> </i></a></li>

       </ul>

   </div>

  </div>

  </nav>

        <div class="head">
          	<h1 style="font-size:60px;">Creative Computing Society</h1>

        </div >
       <div class="login-box">

            <button class="btn_log" id="login-but" onclick="showlogin()">Login Here</button>
            <button class="btn_sign" id="sign-but" onclick="showsignup()">Sign Up</button> 
            <br><br>

           <form id="showlogin" name="login-form" action="" method="post" onsubmit="return validate1()">

               <label for="name">USERNAME</label>
          	   <input type="text" id="name" name="username" placeholder="enter username">

          	   <label for="pass">PASSWORD</label>
          	   <input type="password" id="pass" name="password" placeholder="enter password" >

                 <select>
                	<option value="MEMBER">MEMBER</option>
                	<option value=s"ADMIN">ADMIN</option>
                </select>

          	   <input type="submit" value="SUBMIT">
          </form>

           
           <form id="showsup" name="sign-form" action="" method="post" onsubmit="return validate1()">

               <label for="name">USERNAME</labelw>
               <input type="text" id="name" name="username " placeholder="enter username">
               
               <label for="ph">PHONE No.</label>
               <input type="tel" id="ph" name="ph" placeholder="enter your number">

               <label for="pass">PASSWORD</label>
               <input type="password" id="pass" name="password" placeholder="enter password">
                
                <label for="conf_pass">CONFIRM PASSWORD</label>
                <input type="password" id="conf_pass" name="conf_pass" placeholder="enter password again"> 
                 
                 <select>
                  <option value="MEMBER">MEMBER</option>
                  <option value="ADMIN">ADMIN</option>
                </select>

               <input type="submit" value="SUBMIT">
          </form>

       </div>



  <footer class="text-center">
  	<p>We have <span id="tag"> COMPULSIVE CODING SYNDROME </span> . We only</p>
  	      <i class="fa fa-cutlery" style="font-size:36px; margin-right:20px;"></i>
          <i class="fa fa-bed" style="font-size:36px; margin-right:20px"></i>
          <i class="fa fa-code" style="font-size:36px; margin-right:20px;"></i>
          <i class="fa fa-repeat" style="font-size:36px;"></i>

  </footer>



</div>

 <script type="text/javascript">


  function showlogin(){
    document.getElementById('showsup').style.display='none';
    document.getElementById('showlogin').style.display='block';
    document.getElementById('login-but').style.borderBottom='2px solid #001f33';
    document.getElementById('sign-but').style.borderBottom='none';  

  }
  
  function showsignup(){
    document.getElementById('showlogin').style.display='none';
    document.getElementById('showsup').style.display='block';
    document.getElementById('sign-but').style.borderBottom='2px solid #001f33';
    document.getElementById('login-but').style.borderBottom='none';
  }


  
  function validate1()
{
  var x= document.forms["login-form"]["username"].value;
  var y=document.forms["login-form"]["password"].value;
  if((x=="")&&(y=="")){
    alert("please fill the form first");
    return false;
  }
}


 
</script>

</body>


</html>
