*{
	box-sizing: border-box;
}
.back{

	margin: 0px 0px;
	padding: 0px;
	font-family: helvetica;
    width:100vw;
	height: 100vh;
	position: absolute;
	z-index: -10;
	overflow-y: scroll;
  }

.navbar{
	margin-left: -20px;
	margin-right: -20px;
}

#topnav a{
	color:white;
}

#topnav a:hover{
	color:#b3e0ff;
}

@media screen and (max-width: 1920px){

	.back{

	background-image: url('../images/bk2l.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

  }

}


@media screen and (max-width:1280px){
	.back{
	background-image: url('../images/bk2m.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
  }



}



@media screen and (max-width:640px){
	.back{
	background-image: url('..images/bk2s.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

  }

}




 @font-face{
 	font-family: caviar dreams;
 	src:url(/home/simran/ccs2/caviar_dreams/CaviarDreams.ttf);
 }

.head{
	font-family:caviar dreams;
	font-weight:bold;
	text-align: center;
         padding:30px 70px 50px 70px;
	text-decoration:none;
	letter-spacing: 1.5px;
        margin-top:35px;
        margin-bottom: 50px;
    }


.login-box{
	margin-top:200px;
	margin-bottom: 50px;
	font-family: caviar dreams;

	letter-spacing: 1.5px;
	font-weight:bold;
    border-radius: 5px;
   	width: 400px;
	height: 500px;
	background: rgba(0,0,0,0.1);
	color:#000000;
	left:50%;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
    padding: 40px 30px;
   }


.form{

	position: relative;
	z-index: 2;
	max-width: 320px;
	margin: 0 auto 100px;

}
input[type=text],select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
   box-sizing: border-box;


}

input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;


}




input[type=submit]{
	width: 100%;
	background-color:  #001f33;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;

}

input[type=submit]:hover {
    background-color:  #004a80;
}



footer{
  font-family:caviar dreams	;
  margin-top:580px;
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 20px;

}

#tag{
	font-size:30px;
	color: #001f33;
	font-weight: bold;
}
