 {% extends 'index.html' %}
 {% block content %}


<div class="col-lg-8 col-md-7">
    
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script>
                $(document).ready(function(){
            
                    $("input").click(function(){
                        $("#datepicker").pickadate({
                            formatSubmit: 'yyyy/mm/dd',
                            hiddenName: true
                        });
                        $('#timepicker').pickatime({
                            format: 'T!ime selected: h:i a',
                            formatLabel: '<b>h</b>:i <!i>a</!i>',
                            formatSubmit: 'HH:i',
                            hiddenName: true
                        }); 
                    });
                }); //this was missing
            </script> 
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Events</h4>
                            </div>
                            <div class="content">
                                <form method="post" action="{{ url_for('addevents') }}" enctype=multipart/form-data>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <label>Title</label>
                                                <input class="form-control border-input" name="title" placeholder="Title Of Event" value="" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Date</label>
                                                <input class="form-control border-input fieldset__input  picker__input picker__input--active" name="date" placeholder="Date" value="" type="text" id="datepicker">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Time</label>
                                                    <input class="form-control border-input fieldset__input  picker__input picker__input--active" name="time" placeholder="Time" value="" type="text" id="timepicker">
                                                </div>
                                            </div>
                                        </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Image Url</label>
                                                <input class="form-control border-input" name="image" placeholder="Image" value="" type="file">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Content</label>
                                                <textarea rows="5" class="form-control border-input" name="content" placeholder="Event Content value="></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
{% endblock %}
