 {% extends 'index.html' %}
 {% block content %}


<div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Project</h4>
                            </div>
                            <div class="content">
                                <form action="{{ url_for('edit_project',project_id=id) }}" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input class="form-control border-input" name="title" placeholder="Title Of Event" value="{{project[0][1]}}" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Date</label>
                                                <input class="form-control border-input" name="date" placeholder="Date" value="" type="text">
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Image Url</label>
                                                <input class="form-control border-input" name="image" placeholder="Upload Picture" value="project[0][3]" type="file">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Content</label>
                                                <textarea rows="5" class="form-control border-input" name="content" placeholder="Event Content value="{{project[0][2]}}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
{% endblock %}
