<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>logs</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/card.css">
</head>
<body>
 
 <div class="ui link cards " href="log1.html" >
  <div class="card">
    <div class="image">
      <img src="image1.png">
    </div>
    <div class="content">
      <div class="header">{{name}}</div>
      <div class="meta">
        {{member}}
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <a href="">Follow<a>
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>

   
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
</body>
</html>