{% extends 'dashboard.html' %} {% block username %} {{ un }} {% endblock %} {% block cards %}
<h2>Members</h2>
<div class="ui link cards">
  {% for member in row %}
  <div class="card">
    <div class="image">
      <img src="https://semantic-ui.com/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">{{ member[1] }}</div>
      <div class="meta">
        <a>{{ member[0] }}</a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <a href="mailto:{{ member[2] }}">
          <i class="envelope icon"></i>
        </a>
      </span>
      <span>
        <i class="phone icon"></i>
        <a href="tel:91-{{ member[4] }}">{{ member[4] }}</a> 
      </span>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}