 {% extends 'index.html' %} 
 {% block content %}

  <div class="row">
    {% for user in row %}
                    <div class="col-lg-4 col-md-5">
                         <div class="card card-user">
                            <div class="content">
                              <br><br><br>
                                <div class="author">
                                  <img class="avatar border-white" src="/img/faces/face-2.jpg" alt="..."/>
                                  <h4 class="title">{{ user[1] }}<br />
                                     <a href="#"><small>@{{ user[0] }}</small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    {{ user[2] }}
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3">
                                        <a href="mailto:{{ user[2] }}">
                                            <h5><i class="ti-email"></i><br /><small>Mail</small></h5>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="tel:91-{{ user[4] }}">
                                            <h5><i class="ti-mobile"></i><br /><small>Call</small></h5>
                                        </a>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <!--
                                    <div class="col-md-3">
                                        <h5><i class="ti-facebook"></i><br /><small>Facebook</small></h5>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                      </div>
                        {% endfor %}

</div>
{% endblock %}