<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/card.css">

  <style type="text/css">
    .ui.card{
      height: 280px;
    }
  </style>
</head>
<body>
  <div class="ui card" href="" >
  <div class="content">
    <div class="header">Project Title</div>
  </div>
  <div class="content">
  <div class="meta">
  <div class="ui slide masked reveal image">
    <img src="/">
  </div> 
        <span class="date">dd/mm/yy</span>
      </div>

    <!-- <h3 class="ui sub header">Topics Covered</h3> -->
    <div class="ui small feed">
      <div class="event">
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
            contentvfdbvnfvbfjfjkkcb fdjk
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated"> 
      <button class="ui button">Apply</button>
      <button class="ui button">edit</button>
       <button class="ui button">delete</button>
    </div>
   </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

</body>
</html>