
 @font-face{
 	font-family: caviar dreams;
 	src:url(../caviar_dreams/CaviarDreams.ttf);
 }

.back{

	margin: 0px 0px;
	padding: 0px;
    width:100vw;
	height: 100vh;
	position: absolute;
	z-index: -10;
	overflow-y: scroll;
  }

/*.navbar{
	margin-left: -20px;
	margin-right: -20px;
}

#topnav a{
	color:white;
}

#topnav a:hover{
	color:#b3e0ff;
}*/


.head, .head h1{
	font-family:caviar dreams;
	font-weight:bold;
	text-align: center;

  	font-size: 60px;
 /*    padding:30px 70px 50px 70px;
	text-decoration:none;
	letter-spacing: 1.5px;*/
	top: 20px;
	position: relative;
    }

/*
    .btn_log{
    width: 50%;
	background-color: rgba(255,255,255,0);
	color:black;
	border: 2px solid rgba(0,0,0,0);
	border-bottom: 2px solid #001f33;
	font-family: 'Inconsolata', monospace;
	display : inline-block;
	padding: 10px 20px;
    font-size: 18px;
    border-radius: 2px;
    margin:4px 2px;

    }
    .btn_sign{
    width: 40%;
	background-color: rgba(255,255,255,0);
	color:grey;
color:black;
	border: 2px solid rgba(0,0,0,0);
 	font-family: 'Inconsolata', monospace;
 	display : inline-block;
	padding: 10px 20px;
    font-size: 18px;
    border-radius: 2px;

    }

     button:hover{

	background-color:#001f33;
    color:white;
    }


*/

.login-box{
	top: 400px;

	letter-spacing: 1.5px;
	font-weight:bold;
    border-radius: 5px;
   	width: 400px;

	background: rgba(255,255,255,0);
	color:#000000;
	left:50%;
	position:relative;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
    padding: 40px 30px;
   }
/*.selecttype{
  margin-bottom: 10px;
}


#showsup{
	display:none;
}

*/
footer{
  font-family:caviar dreams	;
  top: 800px;
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 20px;

}

#tag{
	font-size:30px;
	color: #001f33;
	font-weight: bold;
}





@media screen and (min-width: 1281px){

	.back{

	background-image: url('../images/bk2l.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

  }

}


@media screen and (max-width:1280px) and (min-width: 641px){
	.back{
	background-image: url('../images/bk2m.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
  }

  .head h1{
  	font-size: 45px;
  }
#tag{
	font-size:20px;
}
}



@media screen and (max-width:640px){
	.back{
	background-image: url('../images/bk2s.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

  }
  .head h1{
  	font-size: 35px;
  }
#tag{
	font-size:15px;
}
}
